/* small screen */
body{
    background-color: gray;
    margin: 0%;
}
p{
    font-size: 1em;
}
h1{
    font-size: 1.75em;
}
h2{
    font-size: 1.5em;
}
h3{
    font-size: 1.25em;
}

/* The heading banner */
.banner {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height: 15vw;
    background-image: url('/images/markus-spiske-medium.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin-bottom: 0vw;
}

.title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline;
}

/* Dropdown Button */
.dropBtn {
    width: 3.5em;
    height: 1.75em;
    margin-top: 2vw;
    margin-left: 2vw;
    background-color: gray;
    color: white;
    padding: 1vw;
    font-size: 1em;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 2vw;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: white;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(94, 94, 94);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropBtn {background-color: rgb(94, 94, 94);}

/* The title */
.title{
    color: white;
    font-size: 4vw;
    text-align: center;
}

/* login container */
.container{
    margin-top: 10vw;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 5vw;
    border-radius: 20px;
    border-style: double;
    border-color: black;
    border-width: .75vw;
}

.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider{
    background-color: white;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 0vw;
    padding: 5vw;
}

h2{
    text-align: center;
}

.desc p{
    text-align: center;
}

/* project cards */
.projectList{
    margin-left: 0vw;
    padding-left: 0vw;
}
.projectCard{
    background: lightgrey;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 2vw;
    border-style: ridge;
    border-color: gray;
    border-width: 7px;
}
.projectCard h3{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
.projectLink{
    color: black;
    text-decoration: none;
}

/* bug tickets */
.bugCard{
    background: lightgrey;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2vw;
    border-style: ridge;
    border-color: gray;
    border-width: 7.5px;
    text-align: center;
}
.bugCard h3{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    text-align: left;
}
.bugCard p{
    text-align: left;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}
.deleteBtn{
    margin-bottom: 10px;
    width: 75px;
    height: 25px;
}
.editBtn{
    margin-bottom: 10px;
    width: 75px;
    height: 25px; 
}
.bugCard button{
    margin-bottom: 10px;
    width: 75px;
    height: 25px;   
}

.ticketHeader{
    text-align: center;
}

#addTicketForm{
    display: none;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#addTicketForm input{
    width: 50%;
}
#addTicketForm textarea{
    width: 95%;
}

.projectInfo{
    text-align: center;
    border-radius: 60px;
    border-style: solid;
    border-color: black;
}



/* medium screen */
@media screen and (min-width: 600px) {
    p{
        font-size: 1.25em;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.75em;
    }
    h3{
        font-size: 1.5em;
    }
    .container{
        max-width: 45%;
    }
    .dropBtn {
        width: 3.5em;
        height: 2em;
        font-size: 1.5em;
    }
    .deleteBtn{
        width: 100px;
        height: 27px;
    }
    .editBtn{
        width: 100px;
        height: 27px; 
    }
    button{
        width: 100px;
        height: 27px;   
    }
}

/* large screen */
@media screen and (min-width: 1200px) {
    p{
        font-size: 1.5em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.75em;
    }
    .container{
        max-width: 30%;
    }
    .dropBtn {
        width: 4em;
        height: 2.5em;
        font-size: 1.5em;
    }
    #addTicketForm textarea{
        width: 90%;
    }
    .deleteBtn{
        width: 125px;
        height: 30px;
    }
    .editBtn{
        width: 125px;
        height: 30px; 
    }
    button{
        width: 125px;
        height: 30px;   
    }
}